<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="nav">
           <img src="./images/logo.jpeg" alt=""/>
            <a class="hactive" href="/after_login"><b>Home</b></a>
            <div class="dropdown">
                <button class="dropbtn">Tutorials 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="basic.html">Basic</a>
                  <a href="food.html">Food</a>
                  <a href="shopping.html">Shopping</a>
                  <a href="medical.html">Medical</a>
                  <a href="payments.html">Payments</a>
                  <a href="tickets.html">Tickets</a>
                  <a href="fitness.html">Fitness</a>
                  <a href="social.html">Social</a>
                  <a href="business.html">Business</a>
                  <a href="entertainment.html">Entertainment</a>
                  <a href="parental.html">Parental</a>
                  <a href="security.html">Security</a>
                </div>
              </div> 
              
              <a href="/enquiry" ><b>Enquiry</b></a>
              <a href="logout.html"><b>Logout</b></a>
             <a  href="/aboutL"><b>About Us</b></a>

            </div>
            <div class="Acontainer">
                We, the developers of <b>Techcare.com</b>, are a team of coder girls called <b>"SHE Coders"</b>.We <br></br>
                belong to Computer Science and Engineering Deptt of <b>National Institute of Technology,<br></br>
                Patna</b>, and have develpoed this site as a helping hand as well as a tutor for people who are<br></br> 
                deprived in the field of technology. This site will help those people keep themselves updated<br></br> with modern
                technologies so that they can match themselves with the society.
            </div>
            <div class="footer">
                <img src="./images/facebook.png" alt=""/>
                <img src="./images/twitter.png" alt=""/>
                <img src="./images/insta.jpg" alt=""/>
                <p>Copyright © 2021 Techcare. All rights reserved.</p>
        <p>Mail Us: techcare@gmail.com</p>
               </div>
        </main>
    </body>
    </html>