<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="nav">
            <img src="./images/logo.jpeg" alt=""/>
            <a class="hactive" href="/"><b>Home</b></a>
            <a href="/register" ><b>Register</b></a>
            <a href="/login"><b>Login</b></a>
            <a href="/about"><b>About Us</b></a>
            </div>
            <div class="Acontainer">
                We, the developers of <b>Techcare.com</b>, are a team of coder girls called <b>"SHE Coders"</b>.We <br></br>
                belong to Computer Science and Engineering Deptt of <b>National Institute of Technology,<br></br>
                Patna</b>, and have develpoed this site as a helping hand as well as a tutor for people who are<br></br> 
                deprived in the field of technology. This site will help those people keep themselves updated<br></br> with modern
                technologies so that they can match themselves with the society.
            </div>
            <div class="footer">
                <img src="./images/facebook.png" alt=""/>
                <img src="./images/twitter.png" alt=""/>
                <img src="./images/insta.jpg" alt=""/>
                <p>Copyright © 2021 Techcare. All rights reserved.</p>
        <p>Mail Us: techcare@gmail.com</p>
               </div>
        </main>
    </body>
    </html>