<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet"  href="./stylesheets/home.css">
    <link rel="stylesheet" type="text/css"  href="./stylesheets/enquiry-style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="nav">
            <img src="./images/logo.jpeg" alt=""/>
            <a class="hactive" href="/after_login"><b>Home</b></a>
            <div class="dropdown">
                <button class="dropbtn">Tutorials 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="basic.html">Basic</a>
                  <a href="food.html">Food</a>
                  <a href="shopping.html">Shopping</a>
                  <a href="medical.html">Medical</a>
                  <a href="payments.html">Payments</a>
                  <a href="tickets.html">Tickets</a>
                  <a href="fitness.html">Fitness</a>
                  <a href="social.html">Social</a>
                  <a href="business.html">Business</a>
                  <a href="entertainment.html">Entertainment</a>
                  <a href="parental.html">Parental</a>
                  <a href="security.html">Security</a>
                </div>
              </div> 
              
              <a href="/enquiry" ><b>Enquiry</b></a>
              <a href="logout.html"><b>Logout</b></a>
             <a href="/aboutL"><b>About Us</b></a>
</div>
        <div class="enquiry">
            
            <p> <b>Have something to ask?</b> Fill up your details in the columns given below and write your question. <br>
            We will reach to you as soon as possible.</p>
                <form id="form" action="/enquiry" method="post">
                    <input type="text" name = "name" class="name" placeholder="Enter your full name" required>
                    <input type="email" name="email" class="email" placeholder="Enter your email" required>
                    <input type="text" name="subject" class="subject" placeholder="Type subject of query">
                    <textarea rows="4" name="question" cols="50" name="query" class="query" placeholder="Type your question here..."></textarea>
                    <input type="submit" class="button" value="Submit">
                </form>
                
        </div>
        <div class="footer">
            <img src="./images/facebook.png" alt=""/>
            <img src="./images/twitter.png" alt=""/>
            <img src="./images/insta.jpg" alt=""/>
            <p>Copyright © 2021 Techcare. All rights reserved.</p>
    <p>Mail Us: techcare@gmail.com</p>
           </div>
    </main>
</body>
</html>