<!doctype html>
<html>
<head>
<title>techcare.com
</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
<style>
</style></head>
<body>
<div class="nav">
<img src="./images/logo.jpeg" alt=""/>
<a class="hactive" href="/after_login"><b>Home</b></a>
<div class="dropdown">
    <button class="dropbtn">Tutorials 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="basic.html">Basic</a>
      <a href="food.html">Food</a>
      <a href="shopping.html">Shopping</a>
      <a href="medical.html">Medical</a>
      <a href="payments.html">Payments</a>
      <a href="tickets.html">Tickets</a>
      <a href="fitness.html">Fitness</a>
      <a href="social.html">Social</a>
      <a href="business.html">Business</a>
      <a href="entertainment.html">Entertainment</a>
      <a href="parental.html">Parental</a>
      <a href="security.html">Security</a>
    </div>
  </div> 
<a href="/enquiry" ><b>Enquiry</b></a>
<a href="logout.html"><b>Logout</b></a>
<a href="/aboutL"><b>About Us</b></a>
</div>
<div class="container2"><h1>welcome Back!!!</h1>
    <p>Let's get started. Click on the icons(boxes) below to explore our tutorials on different fields.<br></br>
    <b>All the best!!!!</b></p></div>
      <div class="iconrow">
        <div class="icon">
         <img src="./images/basic.jpg" alt=""/>
         <a href="">Basic</a>
        </div>
        <div class="icon">
         <img src="./images/food.jpg" alt=""/>
         <a href="">Food</a>
        </div>
        <div class="icon">
         <img src="./images/shopping.jpg" alt=""/>
         <a href="">Shopping</a>
        </div>
        <div class="icon">
         <img src="./images/medical.jpg" alt=""/>
         <a href="">Medical</a>
        </div>
        </div>
        <br></br>
        <div class="iconrow"> 
        <div class="icon">
        <img src="./images/payments.jpg" alt=""/>
        <a href="">Payments</a>
        </div>
        <div class="icon">
        <img src="./images/tickets.jpg" alt=""/>
        <a href="">Travel</a>
        </div>
        <div class="icon">
        <img src="./images/fitness.jpg" alt=""/>
        <a href="">Fitness</a>
        </div>
        <div class="icon">
        <img src="./images/social.jpg" alt=""/>
        <a href="">Social</a>
        </div></div>
        <br></br>
        <div class="iconrow">
          <div class="icon">
          <img src="./images/business.jpg" alt=""/>
          <a href="">Business</a>
          </div>
          <div class="icon">
          <img src="./images/entertainment.jpg" alt=""/>
          <a href="">Entertainment</a>
          </div>
          <div class="icon">
          <img src="./images/parental.jpg" alt=""/>
          <a href="">Parental</a>
          </div>
          <div class="icon">
          <img src="./images/security.png" alt=""/>
          <a href="">Security</a>
          </div>
      </div>
      <div class="footer">
        <img src="./images/facebook.png" alt=""/>
        <img src="./images/twitter.png" alt=""/>
        <img src="./images/insta.jpg" alt=""/>
        <p>Copyright © 2021 Techcare. All rights reserved.</p>
<p>Mail Us: techcare@gmail.com</p>
       </div>
       </body>
       </html>