<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
        <link rel="stylesheet"  href="./stylesheets/home.css">
    <link rel="stylesheet" type="text/css"  href="./stylesheets/login-style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="nav">
            <img src="./images/logo.jpeg" alt=""/>
            <a class="hactive" href="/"><b>Home</b></a>
            <a href="/register" ><b>Register</b></a>
            <a href="/login"><b>Login</b></a>
            <a href="/about"><b>About Us</b></a>
            </div>
        <div class="background">
            <div class="text">
                <h1>Login</h1>
                <p>Don't have an Account? <a href="/register">Register</a></p>
            </div>
            <div class="box">
                <form class="form" method="post" action="/login">
                    <input name = "email" type="text" class="username" placeholder="Email" required>
                    <input name = "password" type="password" class="password" placeholder="Password" required>
                    <input  type="submit" class="button" value="Login">
                </form>
            </div>
        </div>
        <div class="footer">
            <img src="./images/facebook.png" alt=""/>
            <img src="./images/twitter.png" alt=""/>
            <img src="./images/insta.jpg" alt=""/>
            <p>Copyright © 2021 Techcare. All rights reserved.</p>
    <p>Mail Us: techcare@gmail.com</p>
           </div>
    </main>
</body>
</html>