*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background:rgb(6,6,34,0.3);
}

.background{
  
    height: 110vh;
    display: flex;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

.text h1{
    font-size: 70px;
    color: rgb(6,6,34);
    font-weight: bold;
}

.text p{
    font-size: 20px;
    color: rgb(6,6,34);
    font-weight: 300;
}

.text p a{
    color: rgb(6,6,34);
    font-weight: 700;
}

.form{
    background: transparent;
    color:rgb(6,6,34);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(6,6,34);
    font-family: 'Raleway', sans-serif;
}

.age, .password, .fullname, .email,.occupation{
    border-bottom: 1px solid rgb(6,6,34);
}

.button{
    background-color: rgb(6,6,34,0.9);
    color: #fff;
    font-size: 20px;
    font-weight:bold;
}

.button:hover{
   opacity:0.9;
}
